node_modules
node-ts.rar
dist
.vs
.env
FFmpeg/
testing.js
test.txt
nodebot.rar
testing.ts
.fleet
.idea
.vscode/launch.json
**/*.db
**/*.db-journal
src/prisma/client
build
source.tar
youtube_credentials.json